<% @posts.each do |post| %>

  <div class="post_box">

    <div class="post_header">
      <%= link_to image_tag(post.user.photo, class: 'profile_pic_small'), user_path(post.user_id) %>
      <%= link_to post.user.name, user_path(post.user_id)  %>
      <span class="timestamp pull-right"><%= distance_of_time_in_words(DateTime.now, post.created_at) %> ago</span>
    </div>
    
    <div class="post_photo">
      <%= link_to image_tag(post.photo, class: 'photo'), post_path(post.id) %>
    </div>
    
    <div class="post_body">
      <%= link_to post.user.name, user_path(post.user_id) %> <%= post.description %>
    </div>
    
    <div class="post_comment">
      <% post.comments.each do |comment| %>
        <%= link_to User.find(comment.user_id).name %> <%= comment.text %>
        <% if comment.user == current_user %>
          <%= link_to 'Delete', post_comment_path(post_id: post.id, id: comment.id), method: :delete %>
          <hr>
        <% end %>
      <% end %>
      
      <% if user_signed_in? %>
        <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
          <%= f.input :text, label: 'Comment', placeholder: 'Add a comment...' %>
          <%= f.submit 'Post', class: 'btn btn-default btn-block' %>
        <% end %>
      <% end %>
      
      <hr>
      
      <%= link_to 'View Post', post_path(post.id) %>
      <% if post.user == current_user %>
        <span>|</span>
        <%= link_to 'Edit Post', edit_post_path(post.id) %>
        <span>|</span>
        <%= link_to 'Delete Post', post_path(post.id), method: :delete %>
      <% end %>
      
    </div>

  </div>
  
<% end %>